<div class="container">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="w-full max-w-4xl">
      <%= render "shared/headers" %>

      <!-- Align dropdown to the left -->
      <div class="self-end">
        <%= render "shared/dropdown" %>
      </div>

      <%= render "shared/login_form" %>
      <%= render "shared/page_sections" %>
      <%= render "shared/price_sections" %>
    </div>
  </div>
</div>
